{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "permission denied"|title %} (403){% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">{% trans "permission denied"|title %}</h1>
        {% if exception %}<p class="subtitle">{{ exception }}</p>{% endif %}
        <p class="subtitle">{% filter title %}{% blocktrans %}requested page: <strong>{{ request_path }}</strong>{% endblocktrans %}{% endfilter %}</p>
    </div>
</section>
{% endblock %}
